{% extends 'base.html' %}
{% load static %}
{% block title %}CRUD Consultas{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Lista de Consultas</h1>
    <form method="get" action="" class="mb-4">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Buscar por nombre..." value="{{ request.GET.search }}">
            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
        </div>
    </form>
    <div class="mb-3 text-end">
        <a class="btn btn-primary btn-lg" href="{% url 'nueva-consultas' %}">Agregar Consulta</a>
    </div>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Fecha</th>
                <th>Motivo</th>
                <th>Diagnóstico</th>
                <th>Tratamiento</th>
                <th>Estado</th>
                <th>Mascota</th>
                <th>Veterinario</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for consulta in consultas %}
            <tr>
                <td>{{ consulta.fecha }}</td>
                <td>{{ consulta.motivo }}</td>
                <td>{{ consulta.diagnostico }}</td>
                <td>{{ consulta.tratamiento }}</td>
                <td>{{ consulta.estado }}</td>
                <td>{{ consulta.mascota }}</td>
                <td>{{ consulta.veterinario }}</td>
                <td>
                    <a href="{% url 'actualizar-consultas' consulta.id %}" class="btn btn-primary btn-sm">Modificar</a>
                    <a href="{% url 'eliminar-consultas' consulta.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}